#appointment_btn {
    font-family: "blackhand_font";
    font-size: 30px;
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: #55BCA9;
    -webkit-box-shadow: 0 0 20px rgba(85, 188, 169, 0.5);
    -moz-box-shadow: 0 0 20px rgba(85, 188, 169, 0.5);
    box-shadow: 0 0 20px rgba(85, 188, 169, 0.5);
}
#appointment_btn:hover {
    -webkit-box-shadow: 0 0 40px rgba(85, 188, 169, 0.8);
    -moz-box-shadow: 0 0 40px rgba(85, 188, 169, 0.8);
    box-shadow: 0 0 40px rgba(85, 188, 169, 0.8);
}
#appointment_btn:active {
    background-color: #4daa99;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px rgba(85, 188, 169, 0.8);
}

.carousel-inner {
    width: 100%;
    height: 100%;
}
.carousel-item {
    width: 100%;
    height: 100%;
}

#home_slide {
    width: 100%;
    height: 60vh;
}
.home_slide_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

#make_appointment_row {
    padding: 60px;
}

#signin_block {
    position: absolute;
    right: 1em;
    height: 100%;
}

