#avatar_container {
    display: block;
    margin-right: 20px;
    -webkit-box-shadow: 0 0 5px rgb(148, 219, 255);
    -moz-box-shadow: 0 0 5px rgb(148, 219, 255);
    box-shadow: 0 0 5px rgb(148, 219, 255);
}

.address_row {
    font-size: small;
}

.appointment_delete_btn {
    width: 65px;
    font-size: small;
    padding: 2px 10px;
    margin-left: 10px;
    color: white;
    border: none;
}

.appointment_comments {
    margin-top: 10px;
    font-style: italic;
    color: #a3a3a3;
    resize: none;
}

.btn_add {
    width: 100%;
    height: 95px;
    font-size: 25px;
    color: #bbbbbb;
}

.contact_row {
    font-size: small;
    width: 100%;
}

.list_avatar_container {
    display: block;
    width: 125px;
    min-height: 100%;
    margin-right: 20px;
}
.list_avatar_img {
    display: block;
    height: 50px;
    width: 50px;
    margin: auto;
}

.add_section {
    width: 100%;
    border: dashed thick #bbbbbb;
}
.add_section:hover {
    border: dashed thick #a3a3a3;
}

.faicon_container {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    text-align: center;
}
.faicon {
    margin-top: 3px;
    color: #3da6c8;
}

.modify_icon {
    color: #c87731;
}

.profile_form {
    width: 100%;
    margin-bottom: 5px;
    font-size: small;
    border: thin solid rgb(200, 200, 200);
    border-radius: 3px;
    padding: 0 5px;
}
.profile_form_selection {
    font-size: small;
    margin-bottom: 5px;
}
.profile_form_selection:invalid {
    color: #C8C8C8;
}

.section {
    padding: 20px 0;
    border-top: thin dotted #8bc8c8;
}

.update_input {
    box-shadow: none;
    border: thin solid #cdcdcd;
    border-radius: 3px;
}

.update_btn {
    width: 65px;
    font-size: small;
    padding: 2px 10px;
    margin-left: 10px;
    color: white;
    border: none;
    background-color: #55BCA9;
}
.update_btn:active {
    background-color: #4daa99;
}

.update_cancel_btn {
    width: 65px;
    font-size: small;
    padding: 2px 10px;
    margin-left: 10px;
    color: white;
    border: none;
    background-color: #a3a3a3;
}
.update_cancel_btn:active {
    background-color: #7a7a7a;
}

[type="date"] {
    background:#fff url(../icons/calendar.svg)  99% 50% no-repeat;
    background-size: 1rem 1rem;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}