#avatar_container {
    display: block;
    margin-right: 20px;
    -webkit-box-shadow: 0 0 5px rgb(148, 219, 255);
    -moz-box-shadow: 0 0 5px rgb(148, 219, 255);
    box-shadow: 0 0 5px rgb(148, 219, 255);
}

.address_row {
    font-size: small;
}

.contact_row {
    font-size: small;
    width: 100%;
}

.faicon_container {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    text-align: center;
}
.faicon {
    margin-top: 3px;
    color: #3da6c8;
}

.section {
    padding: 20px 0;
}
.section + .section {
    border-top: thin dotted #8bc8c8;
}

.section_input {
    height: 28px;
}
.section_input:invalid {
    color: #C8C8C8;
}

[type="date"] {
    background:#fff url(../icons/calendar.svg)  99% 50% no-repeat;
    background-size: 1rem 1rem;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}