{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'bootstrap.html' %}
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  <script src="{% static 'js/utils.js' %}"></script>
  {% block loads %}{% endblock %}
</head>
<body>
  {% block body %}
    <div id="background" class="container-fluid">
    {% csrf_token %}
      {% block navigation_bar %}
        <div id="head_row" class="row justify-content-center">
          <h2 class="logo">Tom's Dog Grooming</h2>
          <div id="signin_block" class="row align-items-center">
            {% if not firstname %}
              <div id="registration_entry">
                <a href="signin">Sign In</a> &nbsp;|&nbsp;
                <a href="signup">Sign Up</a>
              </div>
            {% endif %}
            {% if firstname %}
              <div id="profile_entry">
                <p style="margin: 0">Welcome, </p><a href="profile">{{ firstname }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
      <div id="base_content_container">
        {% block content %}
          {% block cap_content %}{% endblock %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}
</body>
</html>