{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block loads %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block navigation_bar %}
  <div class="row justify-content-center" style="width: 100%; padding: 0">
    <div class="row justify-content-between" style="width: 800px; padding: 0">
      <div class="col-12" style="padding: 0">
        <h2 class="logo">Tom's Dog Grooming <span><i class="fas fa-paw" style="font-size: 30px"></i></span> Profile</h2>
      </div>
    </div>
  </div>
{% endblock %}

{% block cap_content %}
  <div class="row breadcrumb_wrapper justify-content-center" style="width: 100%">
    <ol class="breadcrumb row" style="width: 800px;padding-left: 20px;padding-right: 20px">
      <li class="breadcrumb-item"><a href="/">Back</a></li>
    </ol>
  </div>
  <div class="row justify-content-center" style="width: 100%; padding: 30px 0">
    <div class="row justify-content-between" style="width: 800px; padding: 0 20px">
      <div class="col-12 col_ng section" style="border: none">
        <div class="row">
          <div id="avatar_container">
            <img class="avatar_img" src="https://api.adorable.io/avatars/125/{{ user.email }}"/>
          </div>
          <div class="col col_ng">
            <div class="row align-items-start" style="height: 25%">
              <h3 id="user_firstname_header">{{ user.first_name }}</h3>
              <div id="user_profile_modify_btn" class="modify_btn btn_trans btn" style="display: none"><i class="modify_icon fas fa-edit"></i></div>
              <div class="update_btn_container row align-items-center" style="height: 100%;display: none">
                <button id="user_update_btn" class="update_btn btn">Save</button>
                <button id="user_update_cancel_btn" class="update_cancel_btn btn">Cancel</button>
              </div>
            </div>
            <div class="row" style="width: 100%;height: 75%">
              <div class="col-4 col_ng align-self-end">
                <div class="contact_row row">
                  <div class="faicon_container"><i class="faicon fas fa-envelope"></i></div>{{ user.email }}
                </div>
                <div id="contact_container">
                  {% if mobile %}
                  <div class="contact_row row">
                    <div class="faicon_container"><i class="faicon fas fa-phone-square"></i></div><span id="contact_mobile" class="contact_content">{{ mobile }}</span>
                  </div>
                  {% endif %}
                  {% if home %}
                  <div class="contact_row row">
                    <div class="faicon_container"><i class="faicon fas fa-home"></i></div><span id="contact_home" class="contact_content">{{ home }}</span>
                  </div>
                  {% endif %}
                  {% if work %}
                  <div class="contact_row row">
                    <div class="faicon_container"><i class="faicon fas fa-briefcase"></i></div><span id="contact_work" class="contact_content">{{ work }}</span>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-5 col_ng align-self-end">
                {% if user.address_street %}
                  <div id="addr_street" class="address_row row">{{ user.address_street }}</div>
                {% endif %}
                {% if user.address_suburb %}
                  <div id="addr_suburb" class="address_row row">{{ user.address_suburb }}</div>
                {% endif %}
                {% if user.address_state %}
                  <div class="address_row row">
                    <span id="addr_state">{{ user.address_state }}</span>
                    &nbsp;
                    <span id="addr_postcode">{{ user.address_postcode }}</span></div>
                {% endif %}
                {% if user.address_country %}
                  <div class="address_row row">{{ user.address_country }}</div>
                {% endif %}
              </div>
              <div class="col-3 col_ng align-self-end" style="text-align: right">
                <button class="btn btn_trans display_switch_btn show_appointments" style="font-size: small;color: #19a2ff">My Appointments >></button>
              </div>
            </div>
          </div>
        </div>
        <div id="user_profile_update_form" style="margin-top: 20px;display: none">
          <div class="row justify-content-between" style="width: 100%">
            <input id="firstname_input" style="width: 49.5%" class="profile_form" name="first_name" type="text" title="First name"
                   placeholder="First name" autocomplete="off" value="{{ user.first_name }}">
            <input id="lastname_input" style="width: 49.5%" class="profile_form" name="last_name" type="text" title="Last name"
                   placeholder="Last name" autocomplete="off" value="{{ user.last_name }}">
            <input id="contact_mobile_input" style="width: 32.5%" class="profile_form" name="mobile" type="text" title="Mobile" placeholder="Mobile" autocomplete="off" value="{{ mobile }}">
            <input id="contact_home_input" style="width: 33%" class="profile_form" name="home" type="text" title="Home" placeholder="Home" autocomplete="off" value="{{ home }}">
            <input id="contact_work_input" style="width: 32.5%" class="profile_form" name="work" type="text" title="Work" placeholder="Work" autocomplete="off" value="{{ work }}">
            <input id="addr_street_input" class="profile_form" name="street_address" type="text" title="Street"
                   placeholder="Street address" autocomplete="off" value="{{ user.address_street }}">
            <input id="addr_suburb_input" style="width: 49.5%" class="profile_form" name="suburb" type="text" title="Suburb" placeholder="Suburb"
                   autocomplete="off" value="{{ user.address_suburb }}">
            <input id="addr_state_input" style="width: 49.5%" class="profile_form" name="state" type="text" title="State" placeholder="State"
                   autocomplete="off" value="{{ user.address_state }}">
            <input id="addr_postal_input" style="width: 49.5%" class="profile_form" name="postal" type="text" title="Postal" placeholder="Postal"
                   autocomplete="off" value="{{ user.address_postcode }}">
            <select style="width: 49.5%" class="profile_form profile_form_selection" name="country" title="Country">
              <option value="AU">Australia</option>
            </select>
          </div>
        </div>
      </div>
      <div id="dogs_container" style="margin-top: 30px;width: 100%">
        {% for dog in dogs %}
          <div class="col-12 col_ng section">
            <div class="row" style="padding: 0">
              <div class="dog_avatar_container">
                <img class="dog_avatar_img" src="{% static 'icons/dog.svg' %}"/>
              </div>
              <div id="dog_info_row" class="row" style="width: calc(100% - 145px)">
                <input class="dog_id" title="Dog Id" value="{{ dog.id }}" hidden>
                <div class="col-10">
                  <div class="row align-items-start">
                    <div class="col-3 col_ng"><h6>Name:</h6></div>
                    <div class="col-5 col_ng"><h6>Breed:</h6></div>
                    <div class="col-4 col_ng"><h6>Date of Birth:</h6></div>
                  </div>
                  <div class="row align-items-end">
                    <div class="col-3 col_ng"><input id="dog_name_input" class="dog_name_input input_trans" title="Dog Name" value="{{ dog.dog_name }}" readonly style="width: 90%"></div>
                    <div class="col-5 col_ng">
                      <input id="dog_breed_input" class="dog_breed_display input_trans" title="Dog Breed" value="{{ dog.breed }}" readonly style="width: 90%">
                      <select id="dog_breed_selector" class="dog_breed_input section_input" name="dog_breed" title="Dog Breed" style="width: 90%;margin: 0;display: none">
                        <option value="unmodified" selected>{{ dog.breed }}</option>
                        {% for breed in breeds %}
                          <option value="{{ breed.0 }}">{{ breed.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-4 col_ng">
                      <input id="dog_dob_input" class="dog_dob_display input_trans" title="Dog DOB" value="{{ dog.date_of_birth }}" readonly style="width: 90%">
                      <input id="dog_dob_input" class="dog_dob_input section_input" type="date" title="Dog DOB" value="{{ dog.date_of_birth}}" style="width: 90%;display: none">
                    </div>
                  </div>
                </div>
                <div class="col-2 col_ng">
                  <div class="dog_modify_btn modify_btn btn_trans btn" style="display: none"><i class="modify_icon fas fa-edit"></i></div>
                  <div class="update_btn_container row align-items-center" style="height: 100%;display: none">
                    <button class="dog_update_btn update_btn btn">Save</button>
                    <button class="dog_update_cancel_btn update_cancel_btn btn">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div id="dog_add_row">
          <button class="btn btn_trans item_add_btn">Add your dog</button>
          <div class="col-12 col_ng section section_add" style="display: none">
            <div class="row" style="padding: 0">
              <div class="dog_avatar_container">
                <img class="dog_avatar_img" src="{% static 'icons/dog.svg' %}"/>
              </div>
              <div id="dog_info_row" class="row" style="width: calc(100% - 145px)">
                <input class="dog_id" title="Dog Id" value="-1" hidden>
                <div class="col-10">
                  <div class="row align-items-start">
                    <div class="col-3 col_ng"><h6>Name:</h6></div>
                    <div class="col-5 col_ng"><h6>Breed:</h6></div>
                    <div class="col-4 col_ng"><h6>Date of Birth:</h6></div>
                  </div>
                  <div class="row align-items-end">
                    <div class="col-3 col_ng"><input id="dog_name_input" class="dog_name_input section_input" title="Dog Name" style="width: 90%"></div>
                    <div class="col-5 col_ng">
                      <select id="dog_breed_selector" class="dog_breed_input section_input" name="dog_breed" title="Dog Breed" style="width: 90%;margin: 0">
                        {% for breed in breeds %}
                          <option value="{{ breed.0 }}">{{ breed.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-4 col_ng">
                      <input id="dog_dob_input" class="dog_dob_input section_input" type="date" title="Dog DOB" style="width: 90%">
                    </div>
                  </div>
                </div>
                <div class="col-2 col_ng">
                  <div class="update_btn_container row align-items-center" style="height: 100%">
                    <button class="dog_update_btn update_btn btn">Save</button>
                    <button class="add_cancel_btn update_cancel_btn btn">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="appointments_container" style="margin-top: 30px;width: 100%;display: none">
        {% for appointment in appointments %}
          <div class="col-12 col_ng section">
            <div class="row" style="padding: 0">
              <div class="appointment_avatar_container">
                <img class="appointment_avatar_img" src="{% static 'icons/appointment.svg' %}"/>
              </div>
              <div id="appointment_info_row" class="row" style="width: calc(100% - 145px)">
                <input class="appointment_id" title="Appointment Id" value="{{ appointment.id }}" hidden>
                <div class="col-10">
                  <div class="row align-items-start">
                    <div class="col-3 col_ng"><h6>Dog:</h6></div>
                    <div class="col-5 col_ng"><h6>Type:</h6></div>
                    <div class="col-4 col_ng"><h6>Datetime:</h6></div>
                  </div>
                  <div class="row align-items-end">
                    <div class="col-3 col_ng">
                      <input class="dog_name_display input_trans" title="Dog Name" value="{{ appointment.groom_dog.dog_name }}" readonly style="width: 90%">
                      <select id="dog_selector" class="dog_selector section_input" name="groom_dog" title="Dog" style="width: 90%;margin: 0;display: none">
                      {% for dog in dogs %}
                        <option value="{{ dog.id }}">{{ dog.dog_name }}</option>
                      {% endfor %}
                    </select>
                    </div>
                    <div class="col-5 col_ng">
                      <input id="groom_type_display" class="groom_type_display input_trans" title="Dog Breed" value="{{ appointment.groom_type }}" readonly style="width: 90%">
                      <select id="groom_type_selector" class="groom_type_selector section_input" name="groom_type" title="Groom Type" style="width: 90%;margin: 0;display: none">
                        {% for groom_type in groom_types %}
                          <option value="{{ groom_type.0 }}">{{ groom_type.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-4 col_ng">
                      <input id="appointment_date_display" class="appointment_time_display input_trans" title="Appointment Date" value="{{ appointment.appointment_datetime }}" readonly style="width: 90%">
                      <select id="appointment_time_selector" class="appointment_time_selector section_input" name="appointment_time" title="Appointment Time" style="width: 90%;margin: 0;display: none">
                        {% for time in available_time %}
                          <option value="{{ time }}">{{ time }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-2 col_ng">
                  <div class="appointment_modify_btn modify_btn btn_trans btn" style="display: none"><i class="modify_icon fas fa-edit"></i></div>
                  <div class="update_btn_container row align-items-center" style="height: 100%;display: none">
                    <button class="appointment_update_btn update_btn btn">Save</button>
                    <button class="appointment_update_cancel_btn update_cancel_btn btn">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div id="dog_add_row">
          <button class="btn btn_trans item_add_btn">Make appointment</button>
          <div class="col-12 col_ng section section_add" style="display: none">
            <div class="row" style="padding: 0">
              <div class="appointment_avatar_container">
                <img class="appointment_avatar_img" src="{% static 'icons/appointment.svg' %}"/>
              </div>
              <div id="appointment_info_row" class="row" style="width: calc(100% - 145px)">
                <input class="appointment_id" title="Appointment Id" value="-1" hidden>
                <div class="col-10">
                  <div class="row align-items-start">
                    <div class="col-3 col_ng"><h6>Dog:</h6></div>
                    <div class="col-5 col_ng"><h6>Type:</h6></div>
                    <div class="col-4 col_ng"><h6>Date:</h6></div>
                  </div>
                  <div class="row align-items-end">
                    <div class="col-3 col_ng">
                      <select id="dog_selector" class="dog_selector section_input" name="groom_dog" title="Dog" style="width: 90%;margin: 0">
                        {% for dog in dogs %}
                          <option value="{{ dog.id }}">{{ dog.dog_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-5 col_ng">
                      <select id="groom_type_selector" class="groom_type_selector section_input" name="groom_type" title="Groom Type" style="width: 90%;margin: 0">
                        {% for groom_type in groom_types %}
                          <option value="{{ groom_type.0 }}">{{ groom_type.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-4 col_ng">
                      <select id="appointment_time_selector" class="appointment_time_selector section_input" name="appointment_time" title="Appointment Time" style="width: 90%;margin: 0">
                        {% for time in available_time %}
                          <option value="{{ time.year }}-{{ time.month }}-{{ time.day }} {{ time.hour }}:{{ time.minute }}:{{ time.second }}">{{ time }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-2 col_ng">
                  <div class="update_btn_container row align-items-center" style="height: 100%">
                    <button class="appointment_update_btn update_btn btn">Save</button>
                    <button class="add_cancel_btn update_cancel_btn btn">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}